/* General reset and styling */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Arial', sans-serif;
    justify-content: center;
    background-color: #f0f0f0;
  }
  
  .App {
    text-align: center;
    background: white;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Styling for the title */
  h1 {
    font-size: 2.5rem;
    color: #ffffff;
    margin-bottom: 1.5rem;
    background-color: #3195ba; /* Background color */
    padding: 10px; /* Padding */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Shadow */
  }
  
  
  /* Styling for Giphy component */
  .Giphy {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .calc {
    display: grid;
    width: 50%;
    font-family: 'Arial', sans-serif;
    justify-content: center;
    background-color: #f0f0f0;
    margin-left: auto;
    margin-right: auto;
}

  .calculator {
    max-width: 100px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .input-container {
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="number"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .result-container {
    margin-top: 20px;
    text-align: center;
  }
  
  p {
    font-size: 20px;
    font-weight: bold;
  }
  
 
  